<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Factura</title>

    <!-- Estilos de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

    <div th:insert="~{administradores/navbar_administradores :: navbar}"></div>

    <div class="container mt-4">
        <h2 class="mb-4 text-center">Nueva Factura</h2>
        <form id="factura-form" th:action="@{/facturacion/factura/abrir}" th:object="${factura}"
            class="needs-validation" method="post" novalidate>
            <div class="row">

                <input type="hidden" id="usuario" name="usuario.id_usuario" th:value="${usuario.id_usuario}" />

                <h4>Datos del Cliente</h4>
                <div class="mb-3">
                    <label for="customer-search" class="form-label">Cliente:</label>
                    <div class="input-group">
                        <input type="text" id="customer-search" class="form-control"
                            placeholder="Escribe para buscar..." autocomplete="off">
                        <button id="add-customer-btn" class="btn btn-outline-secondary" type="button">Añadir</button>
                    </div>
                    <ul id="customer-list" class="list-group" style="display: none;"></ul>
                    <input type="hidden" id="cliente" name="cliente.id_cliente" th:field="*{cliente.id_cliente}"
                        required>
                    <div class="invalid-feedback">
                        Por favor, seleccione un Cliente.
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" id="abrir-factura" class="btn btn-outline-secondary ms-auto">Abrir Factura
                    </button>
                </div>

                <!-- Sección de los Detalles -->
                <div id="detalles-section" style="display: none;"><!--style="display: none;"-->

                    <h4>Detalles de la Factura:</h4>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="numero_factura" class="form-label">Número de Factura:</label>
                            <input type="text" id="numero_factura" name="numero_factura" class="form-control" disabled>
                            <!--<input type="text" id="numero_factura" name="numero_factura" class="form-control"
                           th:value="${factura.numero_factura}" disabled>-->
                        </div>

                        <div class="col-md-6">
                            <label for="fecha" class="form-label">Fecha:</label>
                            <input type="text" id="fecha" name="fecha" class="form-control" disabled>
                            <!--<input type="text" id="fecha" name="fecha" class="form-control"
                           th:value="${#dates.format(detallesFactura.factura.fecha, 'dd/MM/yyyy')}" disabled>-->
                        </div>
                    </div>

                    <h4>Detalles</h4>
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="text" id="product-search" class="form-control"
                                placeholder="Escribe y Selecciona un Producto a Añadir..." autocomplete="off">
                        </div>
                        <ul id="product-list" class="list-group" style="display: none;"></ul>
                        <!-- <input type="text" id="producto" name="producto.id_producto" class="form-control"> -->
                        <!-- <input type="hidden" id="producto" name="producto.id_producto"
                        th:field="*{producto.id_producto}" required> -->
                    </div>

                    <table class="table" id="productos-tabla">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Subtotal</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Filas de productos seleccionados se agregarán aquí dinámicamente -->
                        </tbody>
                    </table>

                </div>

            </div>
        </form>
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Búsqueda de los Clientes -->
    <script>
        $(document).ready(function () {

            // BUSCADOR PARA LOS CLIENTES
            $("#customer-search").on("input", function () {
                var query = $(this).val();
                if (query.length > 0) {
                    $.ajax({
                        url: "/facturacion/clientes/buscar",
                        type: "GET",
                        data: { query: query },
                        success: function (data) {
                            $("#customer-list").empty().show();
                            if (data.length > 0) {
                                data.forEach(function (customer) {
                                    $("#customer-list").append('<li class="list-group-item" data-id="' + customer.id_cliente + '">' + customer.nombre + ' ' + customer.apellido + '</li>');
                                });
                            } else {
                                $("#customer-list").append('<li class="list-group-item no-select">Cliente no encontrado</li>');
                            }
                        },
                        error: function (error) {
                            console.log('Error en la búsqueda de clientes:', error);
                        }
                    });
                } else {
                    $("#customer-list").hide();
                }
            });

            // Evento de Seleccion del Cliente
            $(document).on("click", "#customer-list li:not(.no-select)", function () {
                var selectedCustomer = $(this).text();
                var customerId = $(this).data("id");
                $("#customer-search").val(selectedCustomer);
                $("#cliente").val(customerId);
                $("#customer-list").hide();
                $("#cliente").removeClass("is-invalid");
            });

            // ACCIÓN AL ABRIR FACTURA
            $('#abrir-factura').click(function (e) {
                e.preventDefault();

                // Validar si se ha seleccionado un cliente
                if ($("#cliente").val() === "") {
                    $("#cliente").addClass("is-invalid");
                    return;
                }

                // Deshabilitar el buscador y el botón de añadir cliente
                $('#customer-search, #add-customer-btn, #abrir-factura').prop('disabled', true);
                $('#detalles-section').show();

                // Enviar el formulario vía AJAX
                var formData = $('#factura-form').serialize();

                $.ajax({
                    url: '/facturacion/factura/abrir',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            // Aquí puedes mostrar un mensaje de éxito si es necesario
                            console.log(response.message);

                            // Obtener el numero de la factura del detalle
                            var numeroFactura = response.detalleFactura.factura.numero_factura;

                            // Obtener la fecha de la factura abierta
                            var fechaFactura = response.detalleFactura.factura.fecha;

                            // Asignar el número de factura y la fecha al div oculto
                            $("#numero_factura").val(numeroFactura);
                            $("#fecha").val(fechaFactura);

                            // Habilitar búsqueda de productos
                            initProductSearch();

                        } else {
                            console.log(response.message);
                            // Aquí puedes manejar el error y mostrar un mensaje al usuario
                        }
                    },
                    error: function (error) {
                        console.log('Error al abrir la factura:', error);
                        // Manejar el error de la llamada AJAX
                    },
                    complete: function () {
                        // Habilitar el campo de búsqueda y los botones después de completar la solicitud AJAX
                        // $('#customer-search, #add-customer-btn, #abrir-factura').prop('disabled', false);
                    }
                });
            });

            function initProductSearch() {

                // BUSCADOR PARA LOS PRODUCTOS
                $("#product-search").on("input", function () {
                    var query = $(this).val();
                    if (query.length > 0) {
                        $.ajax({
                            url: "/facturacion/productos/buscar",
                            type: "GET",
                            data: { query: query },
                            success: function (data) {
                                $("#product-list").empty().show();
                                if (data.length > 0) {
                                    data.forEach(function (product) {
                                        $("#product-list").append('<li class="list-group-item" data-id="' + product.id_producto + '">' + product.producto + '</li>');
                                    });
                                } else {
                                    $("#product-list").append('<li class="list-group-item no-select">Producto no encontrado</li>');
                                }
                            },
                            error: function (error) {
                                console.log('Error en la búsqueda de productos:', error);
                            }
                        });
                    } else {
                        $("#product-list").hide();
                    }
                });

                // Evento de Seleccion del Producto
                $(document).on("click", "#product-list li:not(.no-select)", function () {
                    var selectedProduct = $(this).text();
                    var productId = $(this).data("id");
                    $("#product-search").val(selectedProduct);
                    $("#producto").val(productId);
                    $("#product-list").hide();
                    //$("#producto").removeClass("is-invalid");

                    // Realizar una solicitud AJAX para obtener los detalles del producto seleccionado
                    $.ajax({
                        url: "/facturacion/productos/" + productId, // Endpoint para obtener los detalles del producto por su ID
                        type: "GET",
                        success: function (product) {
                            // Agregar el producto a la tabla de detalles
                            var row = '<tr>' +
                                '<td class="align-middle">' +
                                '<div class="d-flex align-items-center">' +
                                '<img src="http://localhost:8080' + product.icono + '" alt="Icono del Producto" class="img-fluid me-2" style="width: 40px; height: 40px;">' +
                                '<div>' +
                                '<div>' + product.producto + '</div>' +
                                '<small class="text-muted">' + product.categoria.categoria + '</small>' +
                                '</div>' +
                                '</div>' +
                                '</td>' +
                                '<td class="align-middle"><input type="number" class="form-control cantidad" name="cantidad" value="1" min="1" data-stock="' + product.cantidad + '"></td>' +
                                '<td class="align-middle"><input type="number" class="form-control" name="precio" value="' + product.precio + '" disabled></td>' +
                                '<td class="subtotal">' + product.precio.toFixed(2) + '</td>' + // Subtotal inicial
                                '<td class="align-middle"><button class="btn btn-danger remove-product">Eliminar</button></td>' +
                                '</tr>';

                            // Agregar la fila a la tabla de productos
                            $("#productos-tabla tbody").append(row);

                            // Limpiar el campo de búsqueda del producto después de agregarlo a la tabla
                            $("#product-search").val('');
                        },
                        error: function (error) {
                            console.log('Error al obtener los detalles del producto:', error);
                        }
                    });
                });

                // Evento para actualizar el subtotal cuando cambia la cantidad
                $(document).on("input", ".cantidad", function () {
                    var row = $(this).closest('tr');
                    var cantidad = $(this).val();
                    var precioUnitario = row.find('input[name="precio"]').val();
                    var stock = $(this).data("stock");

                    // Verificar si la cantidad ingresada es mayor que el stock
                    if (parseInt(cantidad) > stock) {
                        alert("La cantidad ingresada supera la cantidad disponible. Cantidad disponible: " + stock);
                        $(this).val(stock); // Ajustar la cantidad al máximo disponible
                        cantidad = stock;
                    }

                    var subtotal = cantidad * precioUnitario;
                    row.find('.subtotal').text(subtotal.toFixed(2));
                });

                // Función para actualizar los subtotales (opcional, en caso de que se necesite recalcular en otro momento)
                function updateSubtotal() {
                    $("#productos-tabla tbody tr").each(function () {
                        var cantidad = $(this).find('input.cantidad').val();
                        var precioUnitario = $(this).find('input[name="precio"]').val();
                        var subtotal = cantidad * precioUnitario;
                        $(this).find('.subtotal').text(subtotal.toFixed(2));
                    });
                }

                // Evento para eliminar un producto de la tabla
                $(document).on("click", ".remove-product", function () {
                    $(this).closest('tr').remove();
                });
            }
        });
    </script>
</body>

</html>