<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navbar Vertical</title>

    <!-- Estilos de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>

<div th:fragment="navbar_vertical">
    <ul class="list-unstyled">
        <li class="nav-item mb-2">
            <a class="nav-link" th:href="@{/facturas}">Productos</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="#">Categorías</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="#">Impuesto Valor Agregado (IVA)</a>
        </li>
    </ul>
</div>
</body>
</html>
